"weather_1.csv"

In [14]:
import csv
import random

# Function to generate random day and geography
def generate_random_data():
    days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    geographies = ["Sydney", "Tokyo", "Brazil", "Germany", "USA", "UK", "China"]
    return {
        "temperature (Celsius)": random.randint(0, 50),
        "rainfall (mm)": random.randint(0, 100),
        "days": random.choice(days),
        "geography": random.choice(geographies),
    }

# Define the number of rows for the CSV file
num_rows = 200

# Define column headers
headers = ["temperature (Celsius)", "rainfall (mm)", "days", "geography"]

# Generate data and write to CSV file
with open('weather_1.csv', 'w', newline='') as file:
    writer = csv.DictWriter(file, fieldnames=headers)
    writer.writeheader()
    for _ in range(num_rows):
        data = generate_random_data()
        writer.writerow(data)

"business_performance_1.csv"

In [10]:
business_entities = ["Beverages", "Bottling", "Packaging", "Logistics", "Marketing", "Distribution", "R&D"]

with open("business_performance_1.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["value_sales", "volume_sales", "business_entity", "geography"])
    for i in range(200):
        writer.writerow([
            random.randint(1000000, 3000000),
            random.randint(10000, 30000),
            random.choice(business_entities),
            random.choice(["Sydney", "Tokyo", "Brazil", "Germany", "USA", "UK", "China"])
        ])

"Macro_1.csv"

In [11]:
# Create a list of random values for state GDP
state_gdp = [random.randint(100000000, 1000000000) for i in range(200)]

# Create a list of random values for population
population = [random.randint(int(state_gdp[i]*0.5), int(state_gdp[i]*2)) for i in range(200)]

# Create a list of random values for per capita consumption of beverages
per_capita_consumption_of_beverages = [random.randint(10, 100) for i in range(200)]

# Create a new CSV file and write the data to it
with open("macro_1.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["state_gdp($_million_(USD))", "population", "pcc_category"])
    for i in range(200):
        writer.writerow([state_gdp[i], population[i], per_capita_consumption_of_beverages[i]])

"media_1.csv"

In [18]:
import csv
import random

# Function to generate random day and geography
def generate_random_data():
    days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    geography = ["Sydney", "Tokyo", "Brazil", "Germany", "USA", "UK", "China"]
    platform = ["Youtube", "Twitter", "Facebook", "Instagram"]
    return {
        "spend($)": random.randint(100000, 500000),
        "platform": random.choice(platform),
        "days": random.choice(days),
        "geography": random.choice(geography),
    }

# Define the number of rows for the CSV file
num_rows = 200

# Define column headers
headers = ["spend($)", "platform", "days", "geography"]

# Generate data and write to CSV file
with open('media_1.csv', 'w', newline='') as file:
    writer = csv.DictWriter(file, fieldnames=headers)
    writer.writeheader()
    for _ in range(num_rows):
        data = generate_random_data()
        writer.writerow(data)

In [15]:
import pandas as pd
df = pd.read_csv("media.csv")

In [16]:
min_value = df["spend"].min()
max_value = df["spend"].max()

print(min_value)
print(max_value)

108724
299513

In [2]:
import pandas as pd
df_weather = pd.read_csv("weather_1.csv")
df_macro = pd.read_csv("macro_1.csv")
df_media = pd.read_csv("media_1.csv")
df_business = pd.read_csv("business_performance_1.csv")

In [5]:
print(df_weather.columns)
print(df_macro.columns)
print(df_media.columns)
print(df_business.columns)

Index(['temperature (Celsius)', 'rainfall (mm)', 'days', 'geography'], dtype='object')
Index(['state_gdp($_million_(USD))', 'population', 'pcc_category'], dtype='object')
Index(['spend($)', 'platform', 'days', 'geography'], dtype='object')
Index(['value_sales', 'volume_sales', 'business_entity', 'geography'], dtype='object')

In [9]:
import pandas as pd 
macro_data = pd.read_csv("macro_1.csv")
weather_data = pd.read_csv("weather_1.csv")
business_performance_data = pd.read_csv("business_performance_1.csv")
media_data = pd.read_csv("media_1.csv")

# Combine all CSV data into a single DataFrame
data = pd.concat([macro_data, weather_data, business_performance_data, media_data], axis = 1)
duplicate_columns = data.columns.duplicated()
print("Duplicate columns: ", duplicate_columns)

Duplicate columns:  [False False False False False False False False False False  True False
 False  True  True]

In [12]:
data = data.loc[:, ~duplicate_columns]

In [13]:
print("Columns before duplication: ")
data.columns

Columns before duplication:

Index(['state_gdp($_million_(USD))', 'population', 'pcc_category',
       'temperature (Celsius)', 'rainfall (mm)', 'days', 'geography',
       'value_sales', 'volume_sales', 'business_entity', 'spend($)',
       'platform'],
      dtype='object')

In [14]:
print("Columns after removing duplication: ")
print(data.columns)

Columns after removing duplication:
Index(['state_gdp($_million_(USD))', 'population', 'pcc_category',
       'temperature (Celsius)', 'rainfall (mm)', 'days', 'geography',
       'value_sales', 'volume_sales', 'business_entity', 'spend($)',
       'platform'],
      dtype='object')

In [15]:
data.head(5)

,state_gdp($_million_(USD)),population,pcc_category,temperature (Celsius),rainfall (mm),days,geography,value_sales,volume_sales,business_entity,spend($),platform
0,544750191,591811480,51,23,86,Tuesday,UK,1633981,19407,Marketing,223748,Facebook
1,637014400,441380566,87,16,35,Monday,Tokyo,2581773,10539,Distribution,103999,Facebook
2,325528022,565349330,23,44,95,Thursday,UK,1681836,18202,Packaging,400527,Youtube
3,933856310,1560448623,41,37,55,Monday,USA,1047423,26182,Marketing,299353,Youtube
4,645465225,791370695,14,2,36,Friday,Sydney,2069021,17501,Bottling,309521,Twitter